In [2]:
#create class perosn 
class Person:
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age 
        self.gender = gender 
        self.occupation = occupation

In [3]:
o1 = Person(name ='sunita', age = 24, gender='female', occupation = 'DA')

In [4]:
o1

In [5]:
o1.name

'sunita'

In [6]:
o1.age

24

In [7]:
o1.occupation

'DA'

In [8]:
o1.gender

'female'

In [9]:
o2 = Person(name = 'suresh', age=25, gender= 'male', occupation= 'DS')

In [10]:
o2.gender

'male'

In [11]:
o2.occupation

'DS'

In [12]:
#add education attribute for o2
o2.education ='MBA'

In [14]:
o2.education

'MBA'

In [15]:
o2.name = 'nitin'

In [17]:
o2.name

'nitin'

In [19]:
#to delete attribute 
o2.__delattr__('education')

In [22]:
class Person:
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age 
        self.gender = gender 
        self.occupation = occupation 


        #Add method talk
    def talk(self):
        print(f'hi there my name is {self.name}')
        print(f'my age is {self.age}')
        print(f'my gender is {self.gender}')
        print(f'my occupation is {self.occupation}')

In [23]:
o3 = Person(name='umesh' , age= 25, gender="male", occupation="MBS")

In [27]:
o3.name
o3.age
o3.gender

'male'

In [28]:
o3.talk()

hi there my name is umesh
my age is 25
my gender is male
my occupation is MBS

In [ ]:
#class attributes
#create class employee

In [32]:
class employee:
    company ="TCS"
    def __init__(self , name , id):
        self.name = name 
        self.id = id

In [33]:
e1 = employee(name= 'raman', id = 'emp0001')

In [34]:
e2 = employee(name='john', id='emp0002')

In [35]:
e1.company

'TCS'

In [36]:
e2.company

'TCS'

In [95]:
from dataclasses import dataclass
from typing import Union , List, Literal

In [96]:
@dataclass
class student:
     name : str
     marks : int|float
     age : int 
     gender :  Literal["male", 'female']
     hobbies : list[str]

In [97]:
s1 = student(name='amar', marks=78, age=27, gender= 'male', hobbies='reading')

In [98]:
s1.name

'amar'

In [99]:
s1

student(name='amar', marks=78, age=27, gender='male', hobbies='reading')

In [100]:
s3= student(name=1223, marks=34, age=17, gender='male', hobbies='reading ')

In [101]:
s3.name

1223

In [102]:
s3.hobbies

'reading '

In [104]:
@dataclass
class student4:
     name : str
     marks : int|float
     age : int 
     gender :  Literal["male", 'female']
     hobbies : list[str]

     def info(self):
          print(f'my name is {self.name}')
          print(f'i have scored{self.marks}')
          print(f'my age is {self.age}')
          print(f'my gender is {self.gender}')
          print(f'my hobbies are{self.hobbies}')

In [105]:
s4 = student4(name="aryan" , marks=24, age=20, gender="male", hobbies="reading")

In [85]:
#create a class fir account

In [143]:
@dataclass
class account:
    acc_name:str
    acc_no:int
    acc_bal:int|float
        
        #check balance 
    def check_balance(self):
        print(f'current balance of account {self.acc_no} is {self.acc_bal}')
        return


        #deposite 
    def deposite(self, amount:int|float):
        print(f'amount of {amount} deposited in {self.acc_no}')  
        self.acc_bal += amount 
        return self.acc_bal()  
    
       
       #withdraw
    def withdraw(self, amount : int|float):
        if amount <= self.acc_bal:
            print(f'amount of {amount} is withdrawed from {self.acc_no}')
            self.acc_bal = self.acc_bal - amount
            return self.check_balance()
        else:
            raise ValueError("insufficent balance")
        

        #transfer money 
    def tranfer(self, amount:int|float , ac= "account"):
        self.withdraw(amount)
        ac.deposite(amount)
        return self.check_balance

In [144]:
a1 = account(acc_name="sarathak ", acc_no=1234, acc_bal=2000)

In [145]:
a1.acc_name

'sarathak '

In [146]:
a1.acc_no

1234

In [147]:
a1.check_balance()

current balance of account 1234 is 2000

In [148]:
a1.withdraw(2000)

amount of 2000 is withdrawed from 1234
current balance of account 1234 is 0

In [149]:
a1.withdraw(3550)

ValueError: insufficent balance

In [150]:
a2 = account(acc_name= "john", acc_no=123456, acc_bal=500)

In [176]:
@dataclass
class tringle:
    s1: int|float
    s2: int|float
    s3:int|float

    def perimeter(self):
        if (self.s1+self.s2>self.s3) and \
        (self.s2+self.s3>self.s1) and \
        (self.s1+self.s3>self.s2):
            p = self.s1+self.s2+self.s3
            print(f'perimeter of triangle is {p}')
            return p
        

    #create method for area
    def area(self):
        if self.parameter() is not None:
            s = self.parameter()/2
            area = (s*(s-self.s1)*(s-self.s2)*(s-self.s3))**1/2

In [177]:
t1 = tringle(23,34,56)

In [178]:
print(t1.s1, t1.s2,t1.s3)

23 34 56

In [179]:
t1.perimeter()

perimeter of triangle is 113

113

In [180]:
t1.area

In [181]:
t1.perimeter()

perimeter of triangle is 113

113